NODEDEVPORT=2222
APP_ENV=development
APP_ORIGIN=http://localhost:2222
BASE=/
CONFIGBASE=/synesthesia_config
CONFIGPATH=../synesthesia_config
DATA_PATH=./var
SQLITE_PATH=./var/synesthesia.sqlite
TEMP_PATH=./var/tmp
SURFDRIVE_WEBDAV_URL=https://surfdrive.surf.nl/files/remote.php/nonshib-webdav/synesthesia
SURFDRIVE_USERNAME=your-surfdrive-username
SURFDRIVE_PASSWORD=your-surfdrive-password
