PASS=download:$2y$10$3k3W84zH2PNbKePYKRFwM..AvFKAggH8qQV9S2a0eqGpSdyOOpz6K
NODEDEVPORT=2222
APP_ORIGIN=http://localhost:2222
BASE=/
CONFIGBASE=/synesthesia_config
CONFIGPATH=../synesthesia_config
DATA_PATH=./var
SQLITE_PATH=./var/synesthesia.sqlite
TEMP_PATH=./var/tmp
