PASS=download:[encryptionkey]
NODEDEVPORT=2222
APP_ORIGIN=http://localhost:2222
BASE=/
CONFIGBASE=/synesthesia_config
CONFIGPATH=../synesthesia_config
DATA_PATH=./var
SQLITE_PATH=./var/synesthesia.sqlite
TEMP_PATH=./var/tmp
