html,
body {
  padding: 0;
  margin: 0;
  background: @bg;
  color: @fg;
}

button {
  border: 0;
  background: transparent;
  color: inherit;
}

div,
button {
  box-sizing: border-box;
}

label {
  display: block;
  opacity: 0.5;
  font-size: 0.75em;
  line-height: 1.25em;
}

p {
  // text-indent: 2rem;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: @link;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  // color: @fg2;
  font-size: 1.5em;
  line-height: 1em;
}