@font-face {
  font-family: "Victor";
  src: url("~assets/fonts/VictorSerifTrial-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Victor";
  src: url("~assets/fonts/VictorSerifTrial-Regular.otf") format("opentype");
  font-weight: normal;
}
