@link: #00c4a3;

// light + ochre
@bg: #fdfbf7;
@fg: #20395a;
@connected: #d17d00;

// light + lightochre
@bg: #fdfbf7;
@fg: #20395a;
@connected: #ecd1a9;

// light + lightochre + blue
// @bg: #fdfbf7;
// @fg: #0065a0;
// @connected: #ecd1a9;

// dark + marineblue
// @bg: #1c1c22;
// @fg: #e9e9d9;
// @connected: #0b6a8f;

// dark + ochre
// @bg: #1c1c22;
// @fg: #e9e9d9;
// @connected: #8f820b;

// grey + yellow
// @bg: #686868;
// @fg: #e9e9d9;
// @connected: #ebffa3;

// grey + pink
// @bg: #686868;
// @fg: #e9e9d9;
// @connected: #ffa3a3;

// grey + darkred
// @bg: #686868;
// @fg: #e9e9d9;
// @connected: #a54200;

// grey + darkred
@bg: #686868;
@fg: #e9e9d9;
@connected: #c75000;
