@bg: #fdfbf7;
// @bg: #e9e7e3;
// @bg: #dadada;
// @bg: #f5f2e9;
@bg2: #e0ddd6;
// @bg2: #cbd5db;
// @bg3: #f5f3ee;
@bg3: #d6d6d6;
@fg: #222;
@fg: #181852;
@fg: #1c5800;
@fg: #20395a;
@fg1: #111;
@fg2: #777372;
@link: #00c4a3;
@bbg: #ffffff;
@bfg: #272c49;
@c1: #ff3300;
@c1: #162a36;

@syn: #e4ffa3;
@syn: #eeffc6;

// @bg: #12131b;
// @fg: #ffe;

@connected: #ff4800;
@connected: #ffc4ad;
@connected: #ff3da8;
@connected: #d17d00;
// @connected: #fdf0dc;

// dark + marineblue
// @bg: #1c1c22;
// @fg: #e9e9d9;
// @connected: #0b6a8f;

// dark + ochre
// @bg: #1c1c22;
// @fg: #e9e9d9;
// @connected: #8f820b;

// grey + red
@bg: #686868;
@fg: #e9e9d9;
@connected: #ce2900;

// grey + yellow
@bg: #686868;
@fg: #e9e9d9;
@connected: #ebffa3;

// grey + pink
@bg: #686868;
@fg: #e9e9d9;
@connected: #ffa3a3;
