<IfModule mod_mime.c>
	AddType application/x-javascript .js
	AddType text/css .css
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/css application/x-javascript text/x-component text/html text/plain text/xml application/javascript
</IfModule>

<IfModule mod_headers.c>    
    Header set Access-Control-Allow-Origin *
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.php
</IfModule>